<section class="about">
    <div class="container">
        <div class="about__wrapper">
            <div class="about__slider">
                <img src="https://picsum.photos/id/{{ range (10, 1000) | random }}/620/656" alt="My certificates">
            </div>
            <div class="about__content">
                <h2 class="title">About me</h2>
                <p class="text">Given let waters air sea had you'll, may seed abundantly fish.
                    Were, you'll earth forth winged above brought. Own darkness
                    they're him can't fourth sea place have.
                </p>
                <p class="text">So the above May stars cattle fruitful face shall. Tree it, winged.
                    Every signs male firmament us. Morning him.</p>
                <div class="about__signature">
                    <img src="./images/signature.png" alt="My signature">
                </div>
            </div>
        </div>
    </div>
</section>
