<section class="contacts">
    <div class="container">
        <div class="contacts__wrapper">
            <div class="contacts__info">
                <h1 class="title">Contact Info:</h1>
                <p class="text">To give give beginning divide, cattle. Give moving
                    won't, there the abundantly she'd she'd brought air
                    upon. Light hath subdue. Life days creature upon
                    first heaven gathering dry.</p>
                <address class="contacts__listitems">
                    <p class="contacts__item text"><strong>Address: </strong>71111 Nagornaya Str. 5, Berdiansk</p>
                    <p class="contacts__item text"><strong>Phone: </strong>+38(099)469-03-15</p>
                    <p class="contacts__item text"><strong>Email: </strong>irina.grigoryan97@gmail.com</p>
                </address>
            </div>
            <form action="" class="contacts__form">
                <fieldset class="contacts__fieldset">
                    <legend class="hidden">Feedback form</legend>
                    <div class="contacts__fields">
                        <div class="contacts__field">
                            <label for="name" class="sr-only">Your name</label>
                            <input type="text" id="name" placeholder="Your name">
                        </div>
                        <div class="contacts__field">
                            <label for="email" class="sr-only">Your email</label>
                            <input type="email" id="email" placeholder="Your email">
                        </div>
                        <div class="contacts__field">
                            <label for="title" class="sr-only">Your title</label>
                            <input type="text" id="title" placeholder="Your title">
                        </div>
                        <div class="contacts__field">
                            <label for="comment" class="sr-only">Your comment</label>
                            <textarea name="textarea" id="comment" placeholder="Your comment"></textarea>
                        </div>
                    </div>
                </fieldset>
                <a href="#" class="btn contacts__btn">Send message</a>
            </form>
        </div>
        <div class="contacts__map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2733.007305858965!2d36.78312551579938!3d46.76475245374254!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40e7caf23393a083%3A0x57296cf0051a26ff!2z0YPQuy4g0J3QsNCz0L7RgNC90LDRjywgNSwg0JHQtdGA0LTRj9C90YHQuiwg0JfQsNC_0L7RgNC-0LbRgdC60LDRjyDQvtCx0LvQsNGB0YLRjCwgNzExMDA!5e0!3m2!1sru!2sua!4v1590584834487!5m2!1sru!2sua" width="100%" height="470" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>
    </div>
</section>
