<section class="intro">
    <div class="container intro__container">
        <div class="intro__wrap">
            <h1 class="intro__title">Front-end developer</h1>
            <p class="intro__subtitle">I am a Front-end Developer based in Ukraine, specializing in development of web-sites, landing-pages and single-page applications</p>
        </div>
    </div>
</section>
