{% macro pager() %}
    <nav class="pager">
        <div class="container">
            <ul class="pager__listitems">
                <li class="pager__item -prev">
                    <span>Previous project</span>
                </li>
                <li class="pager__item -return">
                    <a href="index.html" title="Return to all projects"><span class="sr-only">Return to all projects</span></a>
                </li>
                <li class="pager__item -next">
                    <a href="#">Next project</a>
                </li>
            </ul>
        </div>
    </nav>
{% endmacro %}
