<section class="talk">
    <div class="container">
        <div class="talk__wrapper">
            <h2 class="title">Need a Project?</h2>
            <p class="text">Let us know what you're looking for in an agency. We'll take a look and see
                if this could be the start of something beautiful.</p>
            <button class="btn" type="button">Let’s talk</button>
        </div>
    </div>
</section>
